/* Estilo global para el scroll suave */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px; /* Ajusta si el navbar tapa parte del contenido */
}

body {
  margin: 0;
  font-family: sans-serif;
}



